.dashboard {
    height: fit-content;
    overflow: auto;
    position: relative;
    z-index: -1;
}

.stats {
    height: 33em;
    border-radius: 5px;
    background: rgba(131, 199, 209, 0.7);    
    padding-top: 2.3em
}

.user-stats {
    position: absolute;
    top: 0; left: 0;
    margin: 2.5%;
    width: 30%;
    margin-right: 0;
    font-size: 50%;
}

.community-stats {
    position: inherit;
    font-size: 50%;
    left: 35%;
}

.community-leaderboards {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 1em;
}

.community-stats h2 {
    margin: 0 auto 1.5em auto;
    width: 15em;
    background-color: white;
    border-radius: 0.4em;
    box-shadow: 0 2px 4px rgb(131, 199, 209);
    border-bottom: solid #770d00 1px;
    padding: 0.3em 0.3em 0.4em 0.3em;
    letter-spacing: 0.1em
}

.community-leaderboard {
    box-sizing: border-box;
    width: 35%;
    padding: 1em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(131, 199, 209, 0)));
    background-image: -webkit-linear-gradient(top, white, rgba(131, 199, 209, 0));
    background-image: -moz-linear-gradient(top, white, rgba(131, 199, 209, 0));
    background-image: linear-gradient(to bottom, white, rgba(131, 199, 209, 0));
    background-image: #d8eaec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.community-leaderboard-header {
    width: 80%;
    margin: 0 auto 0.3em auto;
    border-bottom: 2px solid #770d00;
    padding-bottom: 0.5em;
    margin-bottom: 0.7em;
}




.community-highest-n,
.community-top-score{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.community-highest-n-leaderboard,
.community-top-score-leaderboard {
    display: flex;
    justify-content: center;
    height: 100%;
}

.community-leaderboard-of-highest-n,
.community-leaderboard-of-top-score {
    width: 32%;
    height: 100%;
    position: relative;
}

.community-leaderboard-of-highest-n:nth-child(-n + 2)::after,
.community-leaderboard-of-top-score:nth-child(-n + 2)::after {
    content: '';
    height: 100%;
    width: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#254044), to(rgba(131, 199, 209, 0)));
    background-image: -webkit-linear-gradient(top, #254044, rgba(131, 199, 209, 0));
    background-image: -moz-linear-gradient(top, #254044, rgba(131, 199, 209, 0));
    background-image: linear-gradient(to bottom, #254044, rgba(131, 199, 209, 0));
    position: absolute;
    top: 0; right: -2px;
}




.community-most-recalled {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.community-most-recalled-leaderboard {
    height: 100%;
    margin-top: -0.3em; 
}




.community-leaderboard-difficulty-h5 {
    border-bottom: #254044 solid 1px;
    padding: 0.3em;
}

.community-leaderboard ul {
    list-style: none;
    margin: 0;
    padding: 0.15em;
    font-size: 70%;
    font-weight: lighter;
    height: 88%;
}

.community-leaderboard li {
    height: 1.8em;
}

.community-leaderboard span {
    display: inline-block;
    box-sizing: border-box;
}

.community-leaderboard-username {
    float: left;
    padding-left: 7%;
}

.community-leaderboard-data {
    float: right;
    padding-right: 7%;
}