/*
japanese indigo: #254044
barn red: #770d00
wintergreen dream: #568289
azureish white: #d8eaec
white: #fff
*/


.hero-header {
    height: 720px;
    position: relative;
    z-index: 0;
}

.hero-header::after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 720px;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d8eaec), to(white));
    background-image: -webkit-linear-gradient(top, #d8eaec, white);
    background-image: -moz-linear-gradient(top, #d8eaec, white);
    background-image: linear-gradient(to bottom, #d8eaecbe 60%, white);
}

.hero-header::before {
    content: '';
    position: absolute;
    z-index: -100;
    height: 720px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vio80dDve/neuron-network-activity-background-animation-for-a-biological-structure-and-its-network-communication-activity_rpuopx28__F0000.png);
    top: 0; right: 0; bottom: 0; left: 0;
}

.hero-header h1 {
    margin: 0;
    position: absolute;
    top: 35%; left: 50%;
    transform: translateX(-50%)
}

.hero-header .auth {

}

.hero-header nav {

}

.hero-header nav ul {
    text-align: left;
    position: absolute;
    right: 0;
    width: 7em;
    margin: 0;
    list-style-type: none;
    color: #d8eaec;
}

.hero-header nav ul li {
    padding: 0.25em 1em;
    border-bottom: solid 3px #568289;
}















.collapsed-header {
    height: 80px;
    background: #254044;
    color: #d8eaec;
    position: relative;
    border-bottom: solid #770d00 3px;
}

.collapsed-header h1 {
    position: absolute;
    left: 0;
    width: 66%;
    padding-left: 1.5em;
    text-align: left;
    font-size: 110%;
}

.collapsed-header .auth {

}

.collapsed-header nav {
    position: absolute;
    right: 0;
    top: 0;
}

.collapsed-header nav ul {
    z-index: 10;
    text-align: left;
    position: absolute;
    top: 83px;
    right: 0;
    width: 7em;
    margin: 0;
    list-style-type: none;
    color: #d8eaec;
}

.collapsed-header nav ul li {
    padding: 0.25em 1em;
    border-bottom: solid 3px #568289;
    background-color: white;
}

.collapsed-header nav ul li:hover {
    background-color: #d8eaec;
}
